<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/includes.ejs %>
  </head>
  <body>
    <center>
      <% include templates/nav.ejs %>
      <% include templates/loading.ejs %>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </center>
  </body>
</html>
