<nav>
  <a class="brand-logo center" href="/">
    <img class="responsive-img" src="images/disk.png" style="height:60px;"></img>
  </a>
  <ul id="slide-out" class="side-nav">
    <li style = "border-bottom:1px solid #e6e6e6; background-color:#26a69a;">
      <a><img class="responsive-img" src="images/disk.png" style="height:60px;"></img></a>
    </li>
    <li style="border-bottom:1px solid #e6e6e6"><a href="/"><b>Home</b></a></li>
    <li style="border-bottom:1px solid #e6e6e6"><a href="/fileUpload"><b>Upload Files</b></a></li>
    <li style="border-bottom:1px solid #e6e6e6"><a href="/fileDownload"><b>Download Files</b></a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
    <img src="images/menu.png" class="mdi-navigation-menu"></img>
  </a>
</nav>
<br/>